---
import { getI18n } from "@/i18n";
import Link from "../Link.astro";
import Badge from "../Badge.astro";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<section class="relative h-dvh flex-col justify-start" id="#">
  <div
    class="hero size-full flex flex-col items-start justify-center gap-y-3 relative"
    id="intro"
  >
    <div class="flex gap-4">
      <a
        href="https://linkedin.com/in/jeffercbs"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center transition md:justify-center md:hover:scale-105"
      >
        <Badge>{i18n.INTRO_BADGE}</Badge>
      </a>
    </div>
    <h1
      class="text-4xl font-bold tracking-tight sm:text-5xl text-white"
      set:text={i18n.INTRO_TITLE}
    />

    <p class="md:max-w-xl text-xl md:text-2xl">
      <span>{i18n.INTRO_DESCRIPTION.FIRST}.</span>
      <span class="text-red-200">{i18n.INTRO_DESCRIPTION.SECOND}.</span>
      <span class="text-yellow-200">{i18n.INTRO_DESCRIPTION.THIRD}</span>
    </p>

    <nav class="flex flex-wrap gap-4 mt-8">
      <Link href="https://linkedin.com/in/jeffercbs" icon="linkedin" external>
        Linkedin
      </Link>
      <Link href="https://github.com/jeffercbs" icon="github" external>
        Github
      </Link>
      <Link href="mailto:jebarrero14@gmail.com" icon="mail" external>
        jebarrero14@gmail.com
      </Link>
    </nav>
  </div>
</section>

<style>
  #intro {
    animation: opacity linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes opacity {
    to {
      @apply opacity-60;
    }
  }
</style>
