---
export type Props = {
  title: string;
  cover?: string;
  badge?: string;
  website?: string;
  class?: string;
};

const {
  title,
  badge,
  cover = "ar.webp",
  website,
  class: classes,
} = Astro.props;
---

<article class:list={["card mx-auto group", classes]}>
  <a href={website} target="_blank" rel="noopener noreferrer">
    <img src={`/_thumbnails/${cover}`} alt={title} class="size-full" />
    <div class="card-footer">
      <div class="flex flex-col items-stretch gap-y-6">
        <div class="block gap-y-2">
          <span
            class="bg-black/10 text-gray-900 px-4 py-1 rounded-full text-sm"
          >
            {badge}
          </span>
          <h3
            class="mt-8 text-4xl font-bold leading-8 text-balance capitalize"
            set:text={title}
          />
        </div>
      </div>
    </div>
  </a>
</article>

<style>
  .card {
    @apply w-full h-[550px] rounded-2xl shadow-gray-500/50 text-black relative;
    @apply hover:shadow-2xl shadow-white/30 overflow-hidden;
  }
  .card-footer {
    @apply absolute inset-x-0 top-0 h-2/5 size-full p-8 z-20;
  }
</style>
