---
import { Icon } from "astro-icon/components";
import Link from "./Link.astro";

export interface Props {
  TITLE: string;
  DESCRIPTION: string;
  LINK?: string;
  CODE?: string;
  DATE?: string;
  ICON?: string;
  BUTTON_LABEL?: string;
  external?: boolean;
  columns?: 1 | 2;
}

const {
  BUTTON_LABEL = "Saber más",
  TITLE,
  DESCRIPTION,
  LINK,
  DATE,
  ICON,
  CODE,
  external = false,
  columns = 1,
} = Astro.props;
---

{
  ICON &&
    (ICON === "default" ? (
      <svg
        class="text-white/40 ring-white/40 bg-black absolute ring-1 rounded-full -start-4"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="28"
        height="28"
      >
        <path
          fill-rule="evenodd"
          d="M15.5 11.75a3.5 3.5 0 11-7 0 3.5 3.5 0 017 0zm1.444-.75a5.001 5.001 0 00-9.888 0H2.75a.75.75 0 100 1.5h4.306a5.001 5.001 0 009.888 0h4.306a.75.75 0 100-1.5h-4.306z"
          fill="currentColor"
        />
      </svg>
    ) : (
      <Icon name={ICON} class="absolute size-10 -start-4" />
    ))
}
<div
  class:list={["ml-3 md:ml-6", { "flex md:flex-row flex-col": columns === 2 }]}
>
  <div class:list={[{ "md:max-w-[280px] w-full": columns === 2 }]}>
    {
      DATE && (
        <time class="mb-1 text-sm font-normal leading-none text-sky-200/80">
          {DATE}
        </time>
      )
    }
    <h3 class="text-xl font-semibold text-yellow-100 mt-2 leading-5">
      {TITLE}
    </h3>
    {
      CODE && (
        <span
          class="text-gray-200 text-pretty text-sm mb-4 w-full opacity-70"
          set:text={CODE}
        />
      )
    }
  </div>
  <div
    class="flex flex-1 flex-col my-4 gap-y-4 [&>p]:text-[17px] [&>p]:leading-tight [&>p]:text-white/80 [&>p]:text-pretty [&>p>strong]:text-yellow-100 [&>p>strong]:font-mono"
    set:html={DESCRIPTION}
  />
</div>

<slot />

{
  LINK && (
    <Link href={LINK} {external} class="md:ml-6 ml-3">
      {BUTTON_LABEL}
      <svg
        class="w-3 h-3 ms-2 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"
        />
      </svg>
    </Link>
  )
}
