---
import { Link } from '@/libs';
import { Github, Instagram, Linkedin, Platzi, Youtube } from '@/icons/index';

import { SOCIAL } from '@/consts';
---

<div class='flex gap-6'>
  <Link href={SOCIAL.platzi} external>
    <Platzi />
  </Link>
  <Link href={SOCIAL.github} external>
    <Github />
  </Link>
  <Link href={SOCIAL.instagram} external>
    <Instagram />
  </Link>
  <Link href={SOCIAL.linkedin} external>
    <Linkedin />
  </Link>
  <Link href={SOCIAL.youtube} external>
    <Youtube />
  </Link>
</div>
